@import "tailwindcss";
*{
  margin:0;
  padding : 0;
  box-sizing : border-box;
  font-family:poppins;
}
html,
body{
  height:100%;
  width:100%;
}
body{
  background-color: #ffffff;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px
  );
  background-size: 16px 16px;
}
